{% extends 'index.html' %}

{% block content %}
    <h1>Report</h1>
    {% if not car %}
      This car does not exist.
    {% else %}
    <br> 
    <div class='label'>Company: {{ car.company }}<br/>
      Model: {{ car.model }}<br/>
      Date: {{ car.date }}<br/>
      Chaci: {{ car.chaci }}<br/>
      Color: {{ car.color }} <br/>
      Plate: {{ car.plate }} <br/>
      Owner: {{ car.owner }} <br/>
     </div>
     <br/>
     <div class='label'>
       {% for k, v in image_dict.iteritems  %}
         <span> {{ k }} </span>
         <br/>
         {% for image_name in v %}
           <img src="{{ MEDIA_URL }}/car_images/{{ image_name }}" class='car_report'>
           <br/>
         {% endfor %}

       {% endfor %}
       <a href="/car/list/"> Back </a>
     </div>
    {% endif %}
{% endblock %}
